*.class
*.log
*~*
*\#*

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.cache
.classpath
.project

# bloop and metals
/project/.bloop
/project/project
/.bloop/
/.bsp/
/.metals/
/project/metals.sbt

# Jekyll & Bundler
.jekyll-cache/
_site/
docs/.jekyll-cache/
docs/_site/
docs/.bundle/
docs/Gemfile.lock